@page "/"
<style>
    .front-bg {
        background-image: url(images/pexels-junjie-xu-3028500.jpg);
        height: 700px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .textcontainer {
        backdrop-filter: blur(5px);
        border: 5px solid black;
        color: white;
        margin-top: 20px;
    }
</style>


<div class="front-bg">
    <div class="d-inline-block  textcontainer mr-4  py-2">
        <h1 class="d-inline-block">Welcome<span class="oi oi-heart text-danger"></span></h1>
        <br />
        <h2>This is a course project on subject supermarket</h2>
        <br />
        <h3>Made by Povoroznyk Bohdan IPZ-31</h3>
    </div>

</div>