
<div class="row mt-3">
    @foreach (var product in Products)
    {
        <div class="col-sm-4">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://placehold.it/150x80?text=IMAGE" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <span class="card-text">Price: @product.Price.ToString("c")</span>
                    @if (product.Amount > 0)
                    {
                        <a href="#" class="btn btn-outline-primary float-md-right">add to cart</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-danger float-md-right">SOLD</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Product[] Products { get; set; } 
}
